:root{
    --corpreto: black;
    --corseila: #ca7474;
}

*{background-color: var(--corpreto);
    color: var(--corseila);
    font-family: Arial, Helvetica, sans-serif;
}

.imagemfr {
    width: 300px;
    height: 300px;
}

.nomes {
    display: flex;
}