:root{
    --corpreto: rgb(0, 0, 0);
    --corseila: #f8f8f8;
}

/* {background-color: var(--corpreto);
    color: var(--corseila);
    font-family: Arial, Helvetica, sans-serif;
} */

body{
 background-color: rgb(129, 125, 125);
}
.imagemfr {
    width: 300px;
    height: 300px;
}

.nomes {
    display: flex;
    flex-direction: column;
    align-items: center;

 
} 

#sexo{
    color: aqua;
}


.brancos{
    background-color: bisque;
    padding: 20px 0;
    text-align: center;
} 

.botaos{
    padding: 20px;
    font-size: 18px;
}
   .ativo{
    background-color: rgb(236, 8, 8);
    color: white;
   }
    