:root{
    --corpreto: black;
    --corseila: #ca7474;
}

*{background-color: var(--corpreto);
    color: var(--corseila);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
